
	<!-- group template -->
	<td ng-if="esQueue.show">
		{{ esQueue.queueName }} <a class="table-collapsetoggle">&minus;</a>
	</td>
	<td ng-if="!esQueue.show">
		{{ esQueue.queueName }} <a class="table-collapsetoggle">&plus;</a>
	</td>

	<td>{{ esQueue.lengthCurrentTryPeak }}</td>
	<td>{{ esQueue.lengthLifetimePeak }}</td>

	<td>{{ esQueue.avgItemsPerSecond }}</td>
	<td>{{ esQueue.avgProcessingTime.toFixed(3)}} </td>
	<td>{{ esQueue.busy }} </td>
	
	<td>{{ esQueue.totalItemsProcessed }}</td>
	<td style="text-align: right">n/a</td>

