<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="cluster-dns" value="test-cluster.demo.local" />
    <add key="nodes-count" value="3" />

    <add key="manager-ip" value="127.0.0.1" />
    <add key="manager-port" value="30777" />

    <add key="ip" value="127.0.0.1"/>
    <add key="tcp-port" value="1113"/>
    <add key="http-port" value="2113"/>

    <add key="fake-dns" value="true"/> <!--warn: if set to false - manager-ip param will be ignored and taken from dns-->
    <add key="stats-frequency" value="30"/>
    <add key="prepare-count" value="1"/>
    <add key="commit-count" value="1"/>
    
  </appSettings>
</configuration>