<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      autoReload="true">

  <targets async="true">
    <target name="fileLog"
            xsi:type="File"
            fileName="${environment:variable=EVENTSTORE_LOGSDIR}/${shortdate:universalTime=true}/${environment:variable=EVENTSTORE_INT-COMPONENT-NAME}.log"
            layout="[PID:${pad:padCharacter=0:padding=2:inner=${processid}} ${date:universalTime=true:format=yyyy\.MM\.dd HH\:mm\:ss\.fff} ${level} ${logger} ${threadid}]${newline}${message}${onexception:${newline}EXCEPTION OCCURED:${newline}${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=20}}"/>

    <target name="errorFileLog" 
            xsi:type="FilteringWrapper"
            condition="length('${exception}')>0">
      <target xsi:type="File"
              fileName="${environment:variable=EVENTSTORE_LOGSDIR}/${shortdate:universalTime=true}/${environment:variable=EVENTSTORE_INT-COMPONENT-NAME}-err.log"
              layout="[PID:${pad:padCharacter=0:padding=2:inner=${processid}} ${date:universalTime=true:format=yyyy\.MM\.dd HH\:mm\:ss\.fff} ${level} ${logger} ${threadid}]${newline}${message}${onexception:${newline}EXCEPTION OCCURED:${newline}${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=20}}"/>
    </target>

    <target name="coloredConsoleLog"
            xsi:type="ColoredConsole"
            layout="[${pad:padCharacter=0:padding=5:inner=${processid}},${pad:padCharacter=0:padding=2:inner=${threadid}},${date:universalTime=true:format=HH\:mm\:ss\.fff}] ${message}${onexception:${newline}EXCEPTION OCCURED:${newline}${exception:format=message}}"
            useDefaultRowHighlightingRules="true">
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" backgroundColor="NoChange"/>
    </target>

    <target name="plainConsoleLog"
            xsi:type="Console"
            layout="[${pad:padCharacter=0:padding=5:inner=${processid}},${pad:padCharacter=0:padding=2:inner=${threadid}},${date:universalTime=true:format=HH\:mm\:ss\.fff}] ${message}${onexception:${newline}EXCEPTION OCCURED:${newline}${exception:format=message}}"/>

    <target name="statsFileLog"
            xsi:type="File"
            fileName="${environment:variable=EVENTSTORE_LOGSDIR}/${shortdate:universalTime=true}/${environment:variable=EVENTSTORE_INT-COMPONENT-NAME}-stats.csv"
            layout="${message}"/>

    <target name="integrationOutputFileLog"
         xsi:type="File"
         fileName="${environment:variable=EVENTSTORE_LOGSDIR}/${shortdate:universalTime=true}/${environment:variable=EVENTSTORE_INT-COMPONENT-NAME}-perf-${environment:variable=EVENTSTORE_TC_RUN_NUMBER}.txt"
         layout="[${pad:padCharacter=0:padding=5:inner=${processid}},${pad:padCharacter=0:padding=2:inner=${threadid}},${date:format=yyyy\.MM\.dd HH\:mm\:ss\.fff}]${newline}${message}"/>
  </targets>

  <rules>
    <logger name="REGULAR-STATS-LOGGER" minlevel="Trace" writeTo="statsFileLog" final="true" />
    
    <logger name="integrationOutput" minlevel="Trace" writeTo="integrationOutputFileLog" />
    <logger name="ManagementConsole" minlevel="Trace" writeTo="fileLog" final="true"/>
    
    <logger name="*" minlevel="Trace" writeTo="fileLog"/>
    <logger name="*" minlevel="Trace" writeTo="errorFileLog"/>
    <!--<logger name="*" minlevel="Trace" writeTo="plainConsoleLog" />-->
    <logger name="*" minlevel="Trace" writeTo="coloredConsoleLog" />
    
  </rules>
</nlog>