.monaco-editor-container {
    height: 200px;
}

@font-face {
    font-family: "Solina";
    src: url("/fonts/Solina-Light.woff2") format("woff2"),
    url("/fonts/Solina-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Solina";
    src: url("/fonts/Solina-Regular.woff2") format("woff2"),
    url("/fonts/Solina-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Solina";
    src: url("/fonts/Solina-Medium.woff2") format("woff2"),
    url("/fonts/Solina-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Solina";
    src: url("/fonts/Solina-Bold.woff2") format("woff2"),
    url("/fonts/Solina-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
