TestResult.xml
*.nupkg
/packages
/Logs
/Data
/Data-logs
/src/EventStore/v8
/v8/
.gclient
.gclient_entries
depot_tools/
v8build/
ipch/
*.o
*.ii
*.s
*.sdf
*.opensdf
*.VisualState.xml
*.DotSettings
*.DotSettings.user
*.DotSettings.personal/Logs
*.md
/Data
/src/Public/v8/
/src/Public/ipch/
/research/ci/CompatibilityInfo
.DS_Store

src/EventStore/EventStore.Common/Properties/AssemblyVersion.cs
src/EventStore/EventStore.ClientAPI/Properties/AssemblyVersion.cs

*.o
*.ii
*.s
*.sdf
*.opensdf

out
obj
bin
dependencies

*.csproj.user
*ReSharper*
*resharper*
*.suo
*.dotcover
*.cache
*.ncrunchsolution
*.ncrunchproject
src/.vs/

.idea

* Thumbs.db

!*.csproj.ReSharper

Release
Debug

*.vssscc
*.vspscc
*.vsmdi
*.testsettings

*.bak
*.cache
*.log
*.swp
*.user
_compareTemp
_notes
aspnet_client
httpd.parse.errors
*.tmp

~$*

deploy
deploy/*

ndependout
*.ndproj
NDependOut

*.vsp

*mm_cache.bin
*DotSettings.user

*.pidb
*.userprefs
_dotCover.*

*/es-logs

node_modules
test_results

# Mac
.DS_Store

# Visual Studio Code
src/.vscode/

#NCrunch
_NCrunch_*/