*.nupkg
/Logs
/Data
/Data-logs
/src/EventStore/v8
/v8/
ipch/
*.o
*.ii
*.s
*.sdf
*.opensdf
*.DotSettings
*.DotSettings.user
*.DotSettings.personal/Logs
/Data
/src/Public/v8/
/src/Public/ipch/
/research/ci/CompatibilityInfo

src/EventStore/EventStore.Common/Properties/AssemblyVersion.cs
src/EventStore/EventStore.ClientAPI/Properties/AssemblyVersion.cs

*.o
*.ii
*.s
*.sdf
*.opensdf

out
obj
bin
*.csproj.user
*ReSharper*
*resharper*
*.suo
*.dotcover
*.cache
*.ncrunchsolution
*.ncrunchproject

.idea

* Thumbs.db

!*.csproj.ReSharper

Release
Build
Debug

*.vssscc
*.vspscc
*.vsmdi
*.testsettings

*.bak
*.cache
*.log
*.swp
*.user
_compareTemp
_notes
aspnet_client
httpd.parse.errors
*.tmp

~$*

deploy
deploy/*

ndependout
*.ndproj
NDependOut

*.vsp

*mm_cache.bin
*DotSettings.user

*.pidb
*.userprefs
_dotCover.*

*/es-logs

# Mac
.DS_Store
