







#include "resource.h"
#include <windows.h>

#define EVENTSTORE_PRODUCTNAME_STR "Event Store Open Source"
#define EVENTSTORE_PRODUCTVERSION_STR "0.0.0.0"
#define EVENTSTORE_PRODUCTVERSION 0,0,0,0
#define EVENTSTORE_FILEVERSION_STR "0.0.0.0"
#define EVENTSTORE_FILEVERSION 0,0,0,0
#define EVENTSTORE_COMMITNUMBER_STR "0.0.0.0.dev@cc75c20863042ec1ccb13ce165739a636b165810@Tue, 29 Oct 2013 06:44:57 -0700"
#define EVENTSTORE_COPYRIGHT_STR "Copyright 2012 Event Store LLP. All rights reserved."




#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US






VS_VERSION_INFO VERSIONINFO
 FILEVERSION EVENTSTORE_FILEVERSION
 PRODUCTVERSION EVENTSTORE_PRODUCTVERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
			VALUE "Comments", EVENTSTORE_COMMITNUMBER_STR
			VALUE "CompanyName", "Event Store LLP"
            VALUE "FileDescription", "Event Store Projections - V8 Integration"
            VALUE "FileVersion", EVENTSTORE_FILEVERSION_STR
            VALUE "InternalName", "EventStore.Projections.V8Integration"
            VALUE "LegalCopyright", EVENTSTORE_COPYRIGHT_STR
            VALUE "OriginalFilename", "js1.dll"
            VALUE "ProductName", EVENTSTORE_PRODUCTNAME_STR
            VALUE "ProductVersion", EVENTSTORE_PRODUCTVERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif    






#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENG)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK

#ifdef APSTUDIO_INVOKED





1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    

#endif    




#ifndef APSTUDIO_INVOKED







#endif    

