<h1>{{:title}}</h1>
<div class="row">
    <div class="span12">
        <div id="commands-container">
            <ul style="display: inline;">
                <li><a id="edit-stream-acl" href="#" class='btn'>
                    Edit ACL</a></li>
            </ul>
        </div>
    </div>
</div>

<div>
    {{for links}}
    <div style="display: inline-block"><a href="{{:uri}}">[{{:relation}}] </a></div>
    {{/for}}
</div>
<table class="table table-bordered table-striped">
    {{for entries}}
    <tr>
        <td><a href="/streams/{{attr:positionStreamId}}/{{attr:positionEventNumber}}">{{:positionEventNumber}}</a></td>
        <td><a href="{{:id}}">{{:eventNumber}}@{{>streamId}}</a></td>
        <td>{{:eventType}}</td>
        <td>{{:~formatDate(updated)}}</td>
        <td>{{if (isJson || isMetaData || isLinkMetaData)}}<a href="#" class="json-expand">json >></a>{{/if}}</td>
    </tr>
    <tr style="display: none;">
        <td colspan="5"><pre>{{:data}}</pre><pre>{{:metaData}}</pre>{{if isLinkMetaData}}<pre>{{:linkMetaData}}</pre>{{/if}}</td>
    </tr>
    {{/for}}
</table>

<script>
    $(".json-expand").click(function () {
        $(this).parent().parent().next().slideToggle();
    });

</script>

{{if headOfStream}}
<script>
    $(function() {
        var eTag = '{{:eTag}}';
        function schedule() {
            setTimeout(function() {
                var dataUrl = data.selfUrl + "?embed=tryharder";
                $.ajax(dataUrl, {
                    headers: {
                        'Accept': 'application/vnd.eventstore.atom+json',
                        'If-None-Match': eTag,
                    },
                    success: function(d, statusText, jqXHR) {
                        if (jqXHR.status == 200) {
                            eTag = d.etag;
                            reRenderData(d);
                        } else {
                            schedule();
                        }
                    },
                    error: function(jqXhr, status, error) {
                        schedule();
                    }
                });

            }, 1000);
        }

        schedule();
    });
</script>
{{/if}}

<div id="edit-acl-dialog" class="dialog" style="display: none;" >
    <form id="edit-acl-form" class="form-horizontal">
        <div class="control-group">
            <label class="control-label add-on" for="r-group">Reader</label>
            <div class="controls">
                <input type="text" id="r-group" name="r-group"/>
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label add-on" for="w-group">Writer</label>
            <div class="controls">
                <input type="text" id="w-group" name="w-group"/>
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label add-on" for="d-group">Deleter</label>
            <div class="controls">
                <input type="text" id="d-group" name="d-group"/>
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label add-on" for="mr-group">Meta Reader</label>
            <div class="controls">
                <input type="text" id="mr-group" name="mr-group"/>
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label add-on" for="mw-group">Meta Writer</label>
            <div class="controls">
                <input type="text" id="mw-group" name="mw-group"/>
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="commands-container" style="text-align: right;">
            <ul style="display: inline">
                <li><a href="#" class="btn btn-primary" id="button-ok">Create</a></li>
                <li><a href="#" class="btn" id="button-cancel">Cancel</a></li>
            </ul>
        </div>
    </form>
</div>

<script>
    $(function () {
        $('#edit-stream-acl').click(function () {
            $("#edit-acl-dialog").dialog({
                modal: true,
                width: 600,
                height: 360,
                title: "Edit ACL",
                autoResize: true,
                open: function (event, ui) {
                    $.getJSON("/streams/$$" + data.streamId + "/head", null, function (d) {
                        $('#r-group').val(d.readRole);
                        $('#w-group').val(d.writeRole);
                        $('#d-group').val(d.deleteRole);
                        $('#mr-group').val(d.metaReadRole);
                        $('mw-group').val(d.$metaWriteRole);
                    });
                }
            });

        });

        $('#button-ok').click(function() {
            $("#edit-acl-dialog").dialog("close");
        });
    });
</script>