<h1>{{:title}}</h1>
<div>
    {{for links}}
    <div style="display: inline-block"><a href="{{:uri}}">[{{:relation}}] </a></div>
    {{/for}}
</div>
<table class="table table-bordered table-striped">
    {{for entries}}
    <tr>
        <td><a href="/streams/{{attr:positionStreamId}}/{{attr:positionEventNumber}}">{{:positionEventNumber}}</a></td>
        <td><a href="{{:id}}">{{:eventNumber}}@{{>streamId}}</a></td>
        <td>{{:eventType}}</td>
        <td>{{:~formatDate(updated)}}</td>
        <td>{{if (isJson || isMetaData || isLinkMetaData)}}<a href="#" class="json-expand">json >></a>{{/if}}</td>
    </tr>
    <tr style="display: none;">
        <td colspan="5"><pre>{{:data}}</pre><pre>{{:metaData}}</pre>{{if isLinkMetaData}}<pre>{{:linkMetaData}}</pre>{{/if}}</td>
    </tr>
    {{/for}}
</table>

<script>
    $(".json-expand").click(function () {
        $(this).parent().parent().next().slideToggle();
    });

</script>

{{if headOfStream}}
<script>
    $(function() {
        var eTag = '{{:eTag}}';

        function schedule() {
            setTimeout(function() {
                var dataUrl = data.selfUrl + "?embed=tryharder";
                $.ajax(dataUrl, {
                    headers: {
                        'Accept': 'application/vnd.eventstore.atom+json',
                        'If-None-Match': eTag,
                    },
                    success: function(d, statusText, jqXHR) {
                        if (jqXHR.status == 200) {
                            eTag = d.etag;
                            reRenderData(d);
                        } else {
                            schedule();
                        }
                    },
                    error: function(jqXhr, status, error) {
                        schedule();
                    }
                });

            }, 1000);
        }

        schedule();
    });
</script>
{{/if}}
