<h1>{{:Title}}</h1>
{{if PositionStreamId != StreamId || PositionEventNumber != EventNumber}}
<h2>Link From: {{>PositionEventNumber}}@{{>PositionStreamId}}</h2>
{{/if}}
<div>
    <a href="/streams/{{attr:positionStreamId}}/{{attr:positionEventNumber - 1}}">[Previous]</a> <a href="/streams/{{attr:positionStreamId}}/{{attr:positionEventNumber + 1}}">[Next]</a>
</div>
<div>
    {{for links}}
    <div style="display: inline-block"><a href="{{:uri}}">[{{>relation}}{{if relation!=null && type!=null}}: {{/if}}{{>Type}}]</a></div>
    {{/for}}
</div>
<table class="table table-bordered table-striped">
    <tr>
        <th>No:</th>
        <td>{{:eventNumber}}</td>
    </tr>
    <tr>
        <th>Stream:</th>
        <td><a href="/streams/{{attr:streamId}}">{{>StreamId}}</a></td>
    </tr>
    <tr>
        <th>Type:</th>
        <td>{{:eventType}}</td>
    </tr>
    <tr>
        <th>Timestamp:</th>
        <td>{{:~formatDate(updated)}}</td>
    </tr>
</table>
<pre>{{:data}}</pre>
<pre>{{:metaData}}</pre>

