@use 'sass:color';

$vp-c-text: (
  light: #000,
  dark: #9FBBC5,
);

// override code block background color

$sidebar-width: 18rem;

$vp-font: 'Solina, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", STHeiti, "Microsoft YaHei", SimSun, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';
$vp-font-heading: 'Solina, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", STHeiti, "Microsoft YaHei", SimSun, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';

$font-body: 15px;

html[data-theme='dark'] {
  --theme-color: #64EDBB;
  --theme-color-light: #{color.scale(#64EDBB, $lightness: 10%)};
  --theme-color-dark: #{color.scale(#64EDBB, $lightness: -10%)};
  --theme-color-mask: #{color.change(#64EDBB, $alpha: 0.15)};
}

html[data-theme='light'] {
  --theme-color: #631B3A;
  --theme-color-light: #{color.scale(#631B3A, $lightness: -10%)};
  --theme-color-dark: #{color.scale(#631B3A, $lightness: 10%)};
  --theme-color-mask: #{color.change(#631B3A, $alpha: 0.15)};
}

$vp-c-bg: (
  light: #fff,
  dark: #080B0D,
);

$vp-c-bg-elv-soft: (
   light: #fff,
   dark: #080B0D,
);
