<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      autoReload="true">

  <variable name="ConsoleLayout" value="[${pad:padCharacter=0:padding=5:inner=${processid}},${pad:padCharacter=0:padding=2:inner=${threadid}},${date:universalTime=true:format=HH\:mm\:ss\.fff}] ${message}${onexception:${newline}EXCEPTION OCCURED:${newline}${exception:format=message}}"/>

  <targets async="true">
    <target name="plainConsoleLog" xsi:type="Console" layout="${ConsoleLayout}"/> 
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="plainConsoleLog" />
  </rules>
</nlog>