::-webkit-input-placeholder {
	color: $grey-mid;
}

:-moz-placeholder {
	color: $grey-mid;
}

::-moz-placeholder {
	color: $grey-mid;
}

:-ms-input-placeholder {
	color: $grey-mid;
}

.container {
	clear: both;
	display: -webkit-flex;
	display:     -ms-flex;
	display:         flex;
	-webkit-align-items: top;
	    -ms-align-items: top;
	        align-items: top;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	    -ms-justify-content: space-between;
	        justify-content: space-between;
	.page-nav + & {
		padding-top: 1.5rem;
	}
}

.container-left {
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	width: 50%;
	padding: 0 0.75rem 0 0;
}

.container-right {
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	width: 50%;
	padding: 0 0 0 0.75rem;
}

.container-narrow {
	clear: both;
	width: 600px;
	margin: 0 auto;
}

.block {
	margin: 0 0 0 0.5rem;
	& .block-title {
		margin-left: 0;
	}
}

.site-main {
	padding: 1.5rem 3rem;
}

.page-header {
	display: -webkit-flex;
	display:     -ms-flex;
	display:         flex;
	-webkit-align-items: center;
	    -ms-align-items: center;
	        align-items: center;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	    -ms-justify-content: space-between;
	        justify-content: space-between;
	margin: 0 0 1.5rem;
}

.page-nav {
	margin: 0;
	padding: 1.5rem 0.5rem 1.5rem 0;
	list-style: none;
	.page-header & {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.page-title {
	margin: 0 0 0 0.5rem;
}

.page-nav__item {
	float: left;
	margin: 0 0 0 0.5rem;
	a, button, input[type="submit"] {
		display: inline-block;
	    padding: 0.5rem;
	    background: $white; // This to ensure buttons and inputs get a white background
	    color: $green-dark;
	    border: 1px solid $green;
	    border-radius: 0.25rem;
	    cursor: pointer;
	    &:active {
	        background: $green;
	        color: $white;
	    }
	    &[disabled], &.disabled { // <button disabled>, <a href="#" class="disabled">
	        background: $white-off;
	        border-color: $grey-light;
	        color: $grey-light;
      		cursor: default;
	    }
	}
	form {
		margin: 0;
		padding: 0;
	}
	input[type="text"] {
		padding: 0.5rem;
		margin: 0;
		background: $white;
		color: $grey-dark;
		border: 1px solid $grey-light;
		border-radius: 0.25rem;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}
}

.table-subheading {
	color: $grey;
	font-weight: 700;
	thead & {
		border-top: 1px solid $grey-light;
		font-style: italic;
	}
	tbody & {
		background: $white-off;
	}
}

.table-indentedrow {
	td:first-child {
		padding-left: 1.5rem;
	}
}

.table-highlightred {
//	background: $red-light;
	color: $red;
}

.table-queues {
	th, td {
		text-align: right;
		&:first-child, &:last-child {
			text-align: left;
		}
	}
}

.table-projections {
	th, td {
		text-align: right;
		&:first-child, &:nth-child(2), &:nth-child(3) {
			text-align: left;
		}
	}
}

.table-collapsetoggle {
	float: right;
	font-weight: 700;
}

.table-meta {
	margin-bottom: 1.5rem;
}

.block-title {
	margin: 0.5rem 0 0.5rem 0.5rem;
	&:first-child {
		margin-top: 0;
	}
}

.code-full {
	min-height: 35rem;
}

.code-half {
	min-height: 16.333rem;
}

.code-read-only {
	background: $white-off;
}

.code-console {
	background: $black;
	color: $white-off;
	border: 1px solid $black;
}

.form-table {
	display: block;
	width: 100%;
	margin: -0.5rem;
	padding: 0.5rem;
	background: $yellow-light;
	border: none;
	font: inherit;
}

.form-table--error {
	background: $red-light;
	color: $red;
}

.new-projection-form tr td:first-child { width: 15em; }
.ace_editor { min-height: 400px; height: 100%; font-size: 14px !important; }
.login-height { height: 100%}