
<header class="page-header">
	<h2 class="page-title">Dashboard</h2>
	<ul class="page-nav">
		<li class="page-nav__item">
			<a ui-sref="^.snapshot">Snapshot</a>
		</li>
	</ul>
</header>

<table class="table-queues">
	<thead>
		<tr>
			<th>Queue Name</th>
			<th colspan="2">Length</th>
			<th>Rate (items/s)</th>
			<th>Time (ms/item)</th>
			<th>Activity</th>
			<th>Items Processed</th>
			<th>Current / Last Message</th>
		</tr>
		<tr>
			<th></th>
			<th class="table-subheading">Current</th>
			<th class="table-subheading">Peak</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody ng-repeat="(key, prop) in queues track by key">

		<!-- Case - group header -->
		<tr ng-if="prop.queues" class="table-subheading" style="cursor: pointer;"
			es-queue-row-header es-queue="prop">	
		</tr>

		<!-- Case - normal row -->
		<tr ng-if="!prop.queues" es-queue-row es-queue="prop">
		</tr>

		<!-- Case - in current group -->
		<tr ng-show="prop.show" ng-repeat="item in prop.queues" class="table-indentedrow" es-queue-row es-queue="item">
		</tr> 

	</tbody>
	<tbody ng-hide="queues">
		<tr>
			<td colspan="8">
				<em>No stats to display</em>
			</td>
		</tr>
	</tbody>
</table>