<table>
	<thead>
		<tr>
			<th>Event #</th>
			<th>Name</th>
			<th>Type</th>
			<th>Created Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody ng-repeat="event in streams">
		<tr>
			<td>
				<a ui-sref="^.event({streamId: event.streamId, eventNumber: event.positionEventNumber})">
					{{ event.positionEventNumber }}
				</a>
			</td>
			<td>
				<a ui-sref="^.event({streamId: event.streamId,eventNumber: event.positionEventNumber})">
					{{ event.title }}
				</a>
			</td>
			<td>{{ event.eventType }}</td>
			<td>{{ event.updated | date:'yyyy-MM-dd HH:mm'}}</td>
			<td>
				<a ng-click="toggleJson($event, event)"
					style="cursor: pointer;" 
				   ng-if="event.isJson || event.isLinkMetaData || event.isMetaData">JSON</a>
			</td>
		</tr>
		<tr ng-show="event.showJson">
			<td colspan="5">
				<div ng-if="event.isJson">
					<strong>Data</strong>
					<pre>
{{ event.data }}					
					</pre>
				</div>
				<div ng-if="event.metaData">
					<strong>Metadata</strong>
					<pre>
{{ event.metaData }}					
					</pre>
				</div>
				<div ng-if="event.isLinkMetaData">
					<strong>Link metadata</strong>
					<pre>
{{ event.linkMetaData }}					
					</pre>
				</div>
			</td>
		</tr>
	</tbody>
	<tbody ng-hide="streams">
		<tr>
			<td colspan="5">
				<em>No events for current path: {{ $stateParams | json }}
			</td>
		</tr>
	</tbody>
</table>
