<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<NUnit>
		<DefaultTestNamePattern>{C}.{m}</DefaultTestNamePattern>
		<DefaultTimeout>20000</DefaultTimeout>
		<AssemblySelectLimit>2147483647</AssemblySelectLimit>
	</NUnit>
	<RunConfiguration>
		<TestCaseFilter>FullyQualifiedName!~EventStore.Core.Tests.LogFormat+V3</TestCaseFilter>
	</RunConfiguration>
</RunSettings>
