
/* Typography */

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #000000; }

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; font-weight: bold; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }


.b-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table-thin {
    font-size: 10px;
    padding-bottom: 0px!important;
}
.table-thin th, .table-thin td {
    padding: 2px 8px;
}

#projection-statistics {
    margin-top: 10px;
    margin-bottom: -30px;
}

#projection-reason > .projection-reason-data, #source{
    max-height: 250px;
    height: 250px;
    overflow-y: auto;
}
.error {
	min-width: 40%;
	margin: 10px auto;
	padding: 8px;
	text-align: center;
	border: 1px solid #EE5678;
    background-color: transparent;
	border-radius: 5px;
	font-size: 13px;
    color: #EE5678;
    white-space: normal;
    text-shadow: none;
}
/*===================================== charts =================================*/
.dropdown {
    margin-left: 10px;
}
.es-selector li{
    margin: 0 20px;
}

.hidegraph{
    float: right;
}

.es-selector-all{
    text-align: center;
}
.es-selector-all a{
    display: inline-block;
}


.dialog-nav{
    margin-top: -400px;
}
.dialog-nav .next{
    float: right;
}

.ui-slider-handle.ui-state-default.ui-corner-all {
    background: url("../img/control.png");
    margin-top: -4px;
}
.slider.ui-slider.ui-slider-horizontal {
    height: 3px;
    margin-top: 8px;
}
.es-chart-cont, .es-chart-header {
    display: inline-block;
    margin: 10px;
    border: 1px solid gray;
    padding: 0px 10px 15px;
    background-color: whitesmoke;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.es-chart-cont .es-chart-title {
	text-align: center;
	font-size: 14px;
	margin: 10px auto;
    overflow: hidden;
}
.rickshaw_graph {
    position: relative;
    background-color: white;
    /*padding: 10px 0px 2px 5px;*/
    border: 1px solid #E3E3E3;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.es-zoomer {
    overflow-x: hidden!important;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    /*padding: 0;*/
    
    
}

.navbar 
{
    /*note MM: fixes extra blank space at page bottom problem, but with small side effects*/
    position: static !important;
}


.control_btn_wrapper {
    display: block;
}

.control_btn_list {
    display: inline;
}

footer {
    width: 100%;
    background: #d6d6d6;
}

footer  p {
    font-family: Arial;
    font-size: 13px;
    color: #363636;
    margin-top: 15px;
}

#commands-container {
    margin-left: -25px;
}
/* ==========================================================================
Footer Stick to the Bottom
========================================================================== */

* {
    margin: 0;
}

html,body {
    height: 100%;
}

.wrapper {
    min-height: 85%;
    height: auto !important;
    height: 100%;
    margin: 0 auto ;
}


footer  {
    height: 47px;
    margin: 5px 0;
}


/*===================================== top menu =================================*/

.navbar .navbar-inner .nav > li > a{
    color: #ffffff;
    font-weight: bold;
}

.navbar .navbar-inner .nav > li > a:hover{
    color: #C9E63C;
    font-weight: bold;
}

.navbar .navbar-inner .nav > li.active > a:hover{
    color: #FFFFFF;
    font-weight: bold;
}



/* for devices and desktop when screen resolutions: width =< 640px */
@media handheld, screen and (max-width: 979px),
handheld, screen and (max-device-width: 979px)  {

    body {
        padding-top: 0;
    }
}

/*===================================== chat =================================*/
.chat-window {
    width: 98%;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    margin: 10px 0;
    cursor: default !important;
}
.input-window {
    width: 100%;
}
.input-window .username {
    width: 10%;
    margin: 10px 0;
}
.input-window .message-input{
    margin: 10px;
    width: 80%;
}    
.input-window .send {
    width: 10%;
}
.input-window .send, .input-dialog .submit {
    background-color: whitesmoke;
    color: #222222;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    padding: 5px;
    margin: 3px;
    text-align: center;
}
a.button-link {
    display: inline-block;
    border: 2px solid #d6d6d6;
    border-radius: 5px;
    background-color: #C9E63C;
    color: #363636;
    padding: 10px;
    margin: 5px 0;
    font-weight: bold;
}
a.button-link:hover {
    border-color: #717171;
    color: black;
    text-decoration: none;
}

/*===================================== stats =================================*/
.queue-stats th {
    text-align: center;
}
.queue-stats td {
    text-align: right;
}
.queue-stats td.queuename {
    text-align: left;
}
#content {
    display: none;
}