

<header class="page-header">
		<h2 class="page-title">Projection Details</h2>
		<ul class="page-nav">
			<li class="page-nav__item">
				<button ng-click="start()" 
					ng-disabled="isRunning"
					href="#">Start</button>
				
			</li>
			<li class="page-nav__item">
				<button ng-click="stop()" 
				   ng-disabled="isStopped"
				   >Stop</button>
				
			</li>
			<li class="page-nav__item">
				<a ui-sref="^.edit">Edit</a>
			<li class="page-nav__item">
				<a ui-sref="^.debug">Debug</a>
			</li>
			<li class="page-nav__item">
				<a ui-sref="^.delete">Delete</a>
			</li>
			<li class="page-nav__item">
				<button ng-click="reset($event)">Reset</button>
			</li>
			<li class="page-nav__item">
			<a ui-sref="^.^.list">Back</a>
			</li>
		</ul>
	</header>

<h3>
{{stats.name}} - {{stats.status}}
</h3>

<p>
	<strong>mode: </strong><span>{{stats.mode}}</span>
</p>

<p style="background-color: red; color: white" ng-if="stats.stateReason">

{{stats.stateReason}}

</p>
<div class="container">
	<div class="container-left">
		<h3 class="block-title">Source</h3>
		
		<div readonly="true" ui-ace="aceConfig" ng-model="query">			
		</div>
		
	</div>
	<div class="container-right">
		<h3 class="block-title">Stats</h3>
		<table>
			<tr>
				<td>Events/sec</td>
				<td>{{ stats.eventsPerSecond }}</td>
			</tr>
			<tr>
				<td>Buffered events</td>
				<td>{{ stats.bufferedEvents }}</td>
			</tr>
			<tr>
				<td>Events processed</td>
				<td>{{ stats.eventsProcessedAfterRestart }}</td>
			</tr>
			<tr>
				<td>Partitions cached</td>
				<td>{{ stats.partitionsCached }}</td>
			</tr>
			<tr>
				<td>Reads in-progress</td>
				<td>{{ stats.readsInProgress }}</td>
			</tr>
			<tr>
				<td>Writes in-progress</td>
				<td>{{ stats.writesInProgress }}</td>
			</tr>
			<tr>
				<td>Write queue</td>
				<td>{{ stats.writePendingEventsAfterCheckpoint }}</td>
			</tr>
			<tr>
				<td>Write queue (chkp)</td>
				<td>{{ stats.writePendingEventsBeforeCheckpoint }}</td>
			</tr>
			<tr>
				<td>Checkpoint status</td>
				<td>{{ stats.checkpointStatus }}</td>
			</tr>
			<tr>
				<td>Position</td>
				<td>{{ stats.position }}</td>
			</tr>
			<tr>
				<td>Last checkpoint</td>
				<td>{{ stats.lastCheckpoint }}</td>
			</tr>
		<table>
		<h3 class="block-title">
		Results
		<span ng-show="stream">
			(<a ui-sref="streams.item.events({streamId: stream})">{{ stream }}</a>)
		</span>
		</h3>
		<pre>
{{result | json}}
		</pre>

		<h3 class="block-title">State</h3>
		<pre>
{{state | json}}
		</pre>
	</div>
</div>
