

<header class="page-header">
		<h2 class="page-title">New User</h2>
		<ul class="page-nav">
			<li class="page-nav__item">
				<a ui-sref="^.list">Back</a>
			</li>
		</ul>
	</header>
<form novalidate name="newUsr" ng-submit="confirm()">
	<table>
		<tbody>
			<tr>
				<td>Login Name</td>
				<td>
					<input type="text" class="form-table" autofocus required name="loginName"
						   ng-class="{ 'form-table--error' : newUsr.loginName.$invalid && !newUsr.loginName.$pristine }"
					ng-model="newUser.loginName">
				</td>
			</tr>
			<tr>
				<td>Full Name</td>
				<td><input type="text" 
						   ng-class="{ 'form-table--error' : newUsr.fullName.$invalid && !newUsr.fullName.$pristine }" name="fullName" class="form-table" required ng-model="newUser.fullName"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" 
						   ng-class="{ 'form-table--error' : newUsr.password.$invalid && !newUsr.password.$pristine }" name="password" class="form-table" ng-model="newUser.password" required></td>
			</tr>
			<tr>
				<td>Confirm Password</td>
				<td>
				<input type="password" 
						   ng-class="{ 'form-table--error' : newUsr.confirmPassword.$invalid && !newUsr.confirmPassword.$pristine }" name="confirmPassword"  class="form-table" required ng-model="newUser.confirmPassword" es-validate-equals="newUser.password">
				</td>
			</tr>
			<tr>
				<td>Groups</td>
				<td>
					<input type="checkbox" name="isAdmin" ng-model="newUser.isAdmin"> 
				<label for="isAdmin">Is Administrator</label>
				</td>
			</tr>
		</tbody>
	</table>


	<ul>
		<li>
			<button type="submit" ng-disabled="newUsr.$invalid">Create</button>
		</li>
	</ul>

</form>

