/*.wrap {
	width: 90%;
	margin: 10px auto;
}*/
.chart-cont {
	display: inline-block;
	margin: 10px;
}
.chart-cont .chart-title {
	text-align: center;
	font-size: 14px;
	margin: 10px auto;
	/*width: 30%;*/
}
/*.settings {
	position: relative;
	width: 50%;
	margin: 10px auto;
	font-size: 12px;
	border: 1px solid #EEEEEE;
	border-radius: 7px;
	padding: 10px;
}
.settings div {
	margin: 5px;
}
.settings .poll-control {
	float: right;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	width: 30px;
	height: 30px;
	margin: 10px;
	padding: 10px;
	position: absolute;
	right: 5px;
	top: 5px;
}
.settings .poll-control:hover {
	background-color: #DDDDDD;
}  */
.zoomed-chart {
}