/*todo: move all es-specific declarations here*/

/*.queue-stats-container {
    width: 800px;
    margin: auto;
}
.queue-stats {
    width: 800px;
    margin: 40px;
}
.queue-stats td {
    height: 30px;
    width: 70px;
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}*/
