name: Build Windows 2019

on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "samples/**"
      - "**.md"
  push:
    branches:
      - master
      - release/*
    tags:
      - oss-v*
      - v*
    paths-ignore:
      - "docs/**"
      - "samples/**"
      - "**.md"

jobs:
  build:
    uses: ./.github/workflows/build-reusable.yml
    with:
      os: windows-2019
      arch: x64
    secrets: inherit
