name: Build Container - Reusable

on:
  workflow_call:

jobs:
  build-container:
    strategy:
      fail-fast: false
      matrix:
        container-runtime: [focal, buster-slim, alpine]
    runs-on: ubuntu-latest
    name: ci/github/build-${{ matrix.container-runtime }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Install net5.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Setup QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Calculate Version
      run: |
        dotnet tool restore
        version=$(dotnet tool run minver -- --tag-prefix=oss-v)-${{ matrix.container-runtime }}
        echo "VERSION=${version}" >> $GITHUB_ENV
    - name: Setup Variables
      id: variables
      uses: kanga333/variable-mapper@master
      with:
        key: "${{ matrix.container-runtime }}"
        map: |
          {
            "focal": {
              "runtime": "linux-x64"
            },
            "buster-slim": {
              "runtime": "linux-x64"
            },
            "alpine": {
              "runtime": "alpine-x64"
            }
          }
        export_to: output
    - name: Build
      uses: docker/build-push-action@v2
      with:
        context: .
        load: true
        tags: eventstore
        build-args: |
          CONTAINER_RUNTIME=${{ matrix.container-runtime }}
          RUNTIME=${{ steps.variables.outputs.runtime }}
    - name: Verify Build
      run: |
        docker run --rm eventstore --insecure --what-if
    - name: Build Test Container
      uses: docker/build-push-action@v2
      with:
        context: .
        load: true
        target: test
        tags: eventstore-test
        build-args: |
          CONTAINER_RUNTIME=${{ matrix.container-runtime }}
          RUNTIME=${{ steps.variables.outputs.runtime }}
    - name: Run Tests
      run: |
          docker run \
          --volume $(pwd)/test-results:/build/test-results \
          --rm \
          eventstore-test
    - name: Publish Test Results (HTML)
      uses: actions/upload-artifact@v1
      if: always()
      with:
        path: test-results/test-results.html
        name: test-results-${{ matrix.container-runtime }}.html
    - name: Publish Test Results (All)
      uses: actions/upload-artifact@v1
      if: always()
      with:
        name: test-results-${{ matrix.container-runtime }}
        path: test-results
    - name: Push GitHub Container Registry
      if: always() && github.event_name == 'push'
      shell: bash
      run: |
        docker tag eventstore ghcr.io/eventstore/eventstore:${{ env.VERSION }}
        docker push ghcr.io/eventstore/eventstore:${{ env.VERSION }}
    - name: Push GitHub Container Registry (CI)
      if: always() && github.event_name == 'push' && matrix.container-runtime == 'focal'
      shell: bash
      run: |
        docker tag eventstore ghcr.io/eventstore/eventstore:ci
        docker push ghcr.io/eventstore/eventstore:ci
    - name: Docker Push
      uses: jen20/action-docker-build@v1
      if: github.event_name == 'push'
      with:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        repository: docker.pkg.github.com/eventstore/eventstore/eventstore
        tag-latest: false
        additional-tags: ${{ env.VERSION }}
        registry: https://docker.pkg.github.com
    - name: Docker Push CI
      uses: jen20/action-docker-build@v1
      if: github.event_name == 'push' && matrix.container-runtime == 'focal'
      with:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        repository: docker.pkg.github.com/eventstore/eventstore/eventstore
        tag-latest: false
        additional-tags: ci
        registry: https://docker.pkg.github.com
