name: Build Ubuntu 18.04

on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "samples/**"
      - "**.md"
  push:
    branches:
      - master
      - release/oss-v*
    tags:
      - oss-v*
    paths-ignore:
      - "docs/**"
      - "samples/**"
      - "**.md"

jobs:
  build:
    uses: EventStore/EventStore/.github/workflows/build-reusable.yml@1b5ad0078ebf1db5be0ea5253df4584f740099cb
    with:
      os: ubuntu-18.04
