name: Build Ubuntu 20.04 ARM64
on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "samples/**"
      - "**.md"
  push:
    branches:
      - master
      - release/*
    tags:
      - oss-v*
      - v*
    paths-ignore:
      - "docs/**"
      - "samples/**"
      - "**.md"

jobs:
  build:
    uses: ./.github/workflows/build-reusable.yml
    with:
      os: ubuntu-20.04-arm64
      arch: arm64
    secrets: inherit
