name: Pull Request check
on:
  pull_request:
    paths-ignore:
      - "src/*.Tests/**"
      - "docs/**"
      - "samples/**"
      - "**.md"
    types: [opened, edited]
jobs:
  checkPullRequest:
    name: Pull Request check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check pull requests
        uses: EventStore/Automations/pr-check@master
        with:
          include: 'src'
          exclude: 'src/EventStore.UI'
